/* app css stylesheet */
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
  color: rgb(244, 67, 54);
  position: relative;
  margin: 0;
  padding-bottom: 8rem;
  min-height: 100%;
  background-color: #EFEFEF;
}

.legend {
  font-family: 'Raleway', sans-serif;
  fill: #333333;
}

.tooltip {
  fill: #333333;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
  margin: 0.5em 0;
  line-height: 1.3;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

h3 {
  font-family: 'Permanent Marker', cursive;
}

.footer {
  margin-top: 30px;
  padding-top: 70px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 90px;
  text-align: center;
  background-color: rgb(244, 67, 54);
}

.btn-register {
    margin-top: 80px;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    border: 0;
}

.form-add {
  font-size: 30px;
  text-align: center;
}

.btn-add {
    text-align: right;
}

.btn-add input {
  background-color: transparent;
  font-family: 'Permanent Marker', cursive;
  border: 0;
  color: rgb(0,0,0);
  font-size: 25px;
}

.graphs-title {
  color: rgb(0,0,0);
}

.axis path, .axis line {
  fill: none;
  stroke: rgba(229, 80, 80, 0.0);
  shape-rendering: crispEdges;
}

.axis path{
  fill: none;
  stroke: none;
}

.x-axis-group text {
    font-size: 17px;
    font-family: 'Permanent Marker', cursive;
    word-break: break-all;
}

.y-axis-group text {
    font-size: 10px;
}

.bar {
  fill: rgb(244, 67, 54);
}

.animate-enter,
.animate-leave
{
    -webkit-transition: 650ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 650ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 650ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 650ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 650ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.animate-enter {
    left: 100%;
}
.animate-enter.animate-enter-active {
    left: 0;
}

.animate-leave {
    left: 0;
}
.animate-leave.animate-leave-active{
    left: -100%;
}
