<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="somDoLSD" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Som do LSD</title>
  <link rel="shortcut icon" type="image/png" href="/SOM.png"/>
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="styles/bootstrap.min.css.map">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/app.css">
  <link rel="stylesheet" href="styles/app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="mainController as main">
  <div class="container">
		<div class="row" >
			<div class="col-lg-7 col-md-8 col-sm-10">
				<header>
					<h1 ng-click="main.mainPage()">Som do LSD <img src="SOM.png" style="width:100px;height:100px;"></h1>
				</header>
      </div>
      <div class="col-lg-1 col-lg-offset-3 col-md-2 col-sm-2">
				<button class="btn-register" ng-click="main.groups()">
					<h4 class="headers">Grupos</h4>
				</button>
			</div>
      <div class="col-lg-1 col-md-2 col-sm-2">
				<button class="btn-register" ng-click="main.register()">
					<h4 class="headers">Cadastro</h4>
				</button>
			</div>
    </div>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

      <div ng-view></div>
    <!-- In production use:
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
  </div>
	<div class="footer">
  </div>

  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
  <script src="top_chart.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="main/mainController.js"></script>
  <script src="graphs/graphsService.js"></script>
  <script src="graphs/graphsController.js"></script>
  <script src="register/registerService.js"></script>
  <script src="register/registerController.js"></script>
  <script src="groups/groupsController.js"></script>
</body>
</html>
